<div class="modal-background">
	
</div>

<div class="modal-content">
	<button class="close">&times;</button>
	<form class="edit-card-form">
		<a class="card-title-link" href=""><%= card.escape('title') %></a>
		<input class="card-title-input" type="text" name="card[title]" value="<%= card.escape('title') %>">
		<button class="card-title-save-button btn btn-default" type="submit">Save</button>
	</form>
	<form class="edit-card-description-form">
		<a class="card-description-link" href="">Edit the Description...</a>
		<input class="card-description-input" type="text" name="card[description]" value="<%= card.escape('description') %>">
		<button class="card-description-save-button btn btn-default" type="submit">Save</button>
	</form>
	<h4 class="activity-title">Activity</h4>
	<form class="comment-form">
		<textarea class="comment-textarea" name="comment[content]" placeholder="Write a comment..."></textarea>
		<br>
		<button class="comment-submit-button btn btn-default">Comment</button>
	</form>
	<div class="comments-container"></div>
	<br>
	<div class="card-info">this card was created on <%= new Date(card.escape('created_at')).toLocaleDateString() + " " + new Date(card.escape('created_at')).toLocaleTimeString() %> and last updated on <%= new Date(card.escape('updated_at')).toLocaleDateString() + " " + new Date(card.escape('updated_at')).toLocaleTimeString() %>.</div>
</div>